*.DS_Store
*.pyc
.venv
/AST
/AST.pdf
*.aux
*.log
*.pdf
*.ps
*.tex
*.fls
*.synctex
.idea/
la_test/generated_code.py

# pyinstaller creates these
/build
/dist
/linear_algebra.spec
iheartla.egg-info
web/pyodide
.vscode/launch.json