body {
    /* overflow: hidden; */
    /*
    padding-left: 10px;
    padding-right: 10px;
    */
}
.container {
    max-width: 1570px;
    /*margin-right: 0px;*/
    /*margin-left: 20px;*/
    /*padding-right: 0px;*/
    /*border-right: 0px;*/
}
.col-lg-5{
    padding-right: 0px;
    padding-left: 0px;
}
.col-lg{
    padding-right: 0px;
    padding-left: 0px;
}
#editor {
    border-radius: 3px;
    /*margin-left: 3px;*/
    /*margin-right: 3px;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-right: 3px;
}
#cpp {
    width: 100%;
    height: 500px;
    border-radius: 3px;
}
#python {
    width: 100%;
    height: 500px;
    border-radius: 3px;
}
#test {
    width: 100%;
    height: 500px;
    border-radius: 3px;
}
#matlab {
    width: 100%;
    height: 500px;
    border-radius: 3px;
}
#compile {
    background-color: #4CAF50; /* Green background */
}
.shadow
{
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}
#clipboard {
}
.widgets {
    /*
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: white;
    */
    /* background-color: rgba(255,255,255,.5); */
    left: 50%;
    transform: translateX(-50%);
}
.compileCol{
    text-align: center;
    margin-bottom: 1rem;
}
.msgCol{
}
#msg {
    font-size: 16px; /* Set a font size */
    /*-webkit-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
    /*hyphens: auto;*/
    /*background-color: blue;*/
    /*overflow-wrap: break-word;*/
    /*word-break: break-word;*/
    overflow : hidden;
    white-space: initial;
}
#output {
    border: 1px solid grey;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-left: 3px;
}
#keybinding {
}

.error {
    position: absolute;
    border-bottom: 2px dashed red;
}

div#msg .alert{
  font-family: Consolas,monospace;
  font-size: 0.8em;
}
iframe{
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    /*
    -webkit-transform: translate(-5%, 0px) scale(0.95);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    */
}
h1
{
  font-size: 1.5em;
  text-align: center;
}

h1 > small {
    font-size: 70%;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

.bd-example-modal-lg .modal-dialog .modal-content{
background-color: transparent;
border: none;
}

a, a:hover, a:visited, a:active, a:link {
  color: inherit;
  text-decoration: underline solid grey;
}
