body {
    /* overflow: hidden; */
    padding-top: 10px;
}
.container{
    max-width: 1420px;
}
.col-lg-5{
    padding-right: 0px;
    padding-left: 0px;
}
.col-lg{
    padding-right: 0px;
    padding-left: 0px;
}
#editor {
    width: 100%;
    height: 90%;
}
#cpp {
    width: 100%;
    height: 500px;
}
#python {
    width: 100%;
    height: 500px;
}
#test {
    width: 100%;
    height: 500px;
}
#matlab {
    width: 100%;
    height: 500px;
}
#compile {
    background-color: #4CAF50; /* Green background */
}
#clipboard {
}
#msg {
    font-size: 16px; /* Set a font size */
    /*-webkit-hyphens: auto;*/
    /*-ms-hyphens: auto;*/
    /*hyphens: auto;*/
    /*background-color: blue;*/
    /*overflow-wrap: break-word;*/
    /*word-break: break-word;*/
    overflow : hidden;
    white-space: initial;
}
#output {
    /*border: 10px solid grey;*/
    width: 100%;
    box-sizing: border-box;
}
#keybinding {
}
.widgets {
    margin-bottom: 1em;
}

.error {
    position: absolute;
    border-bottom: 2px dashed red;
}

div#msg .alert{
  font-family: Consolas,monospace;
  font-size: 0.8em;
}
iframe{
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
h1
{
  font-size: 1.5em;
  text-align: center;
}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

.bd-example-modal-lg .modal-dialog .modal-content{
background-color: transparent;
border: none;
}