body
{
  position:static;
  top: 0;
  left: 0;
  font-size: 12pt;
  padding-left:  10px;
  padding-right: 10px;
  width: 785px;
  min-height: none;
  min-height: 0%;
  border-radius: 8px;
  margin: auto;
}
.highlight_red {
 color: red; 
}
.highlight {
 color: red; 
}
.highlight_blue {
 color: blue; 
}
.highlight_green {
 color: green; 
}
.highlight_yellow {
 color: yellow; 
}
.normal {
 color: black; 
}
.clickable_sym{
 color: red; 
}
.arrow{
  position:absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}