<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>₀</string>
		<key>shortcut</key>
		<string>_0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₁</string>
		<key>shortcut</key>
		<string>_1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₂</string>
		<key>shortcut</key>
		<string>_2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₃</string>
		<key>shortcut</key>
		<string>_3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₄</string>
		<key>shortcut</key>
		<string>_4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₅</string>
		<key>shortcut</key>
		<string>_5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₆</string>
		<key>shortcut</key>
		<string>_6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₇</string>
		<key>shortcut</key>
		<string>_7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₈</string>
		<key>shortcut</key>
		<string>_8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₉</string>
		<key>shortcut</key>
		<string>_9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₐ</string>
		<key>shortcut</key>
		<string>_a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₑ</string>
		<key>shortcut</key>
		<string>_e</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₕ</string>
		<key>shortcut</key>
		<string>_h</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᵢ</string>
		<key>shortcut</key>
		<string>_i</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ⱼ</string>
		<key>shortcut</key>
		<string>_j</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₖ</string>
		<key>shortcut</key>
		<string>_k</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₗ</string>
		<key>shortcut</key>
		<string>_l</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₘ</string>
		<key>shortcut</key>
		<string>_m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₙ</string>
		<key>shortcut</key>
		<string>_n</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₒ</string>
		<key>shortcut</key>
		<string>_o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₚ</string>
		<key>shortcut</key>
		<string>_p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₛ</string>
		<key>shortcut</key>
		<string>_s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₜ</string>
		<key>shortcut</key>
		<string>_t</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᵤ</string>
		<key>shortcut</key>
		<string>_u</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᵥ</string>
		<key>shortcut</key>
		<string>_v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ₓ</string>
		<key>shortcut</key>
		<string>_x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‖</string>
		<key>shortcut</key>
		<string>\|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝟙</string>
		<key>shortcut</key>
		<string>\1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ɑ</string>
		<key>shortcut</key>
		<string>\alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̄</string>
		<key>shortcut</key>
		<string>\bar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>\beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⋅</string>
		<key>shortcut</key>
		<string>\cdot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Δ</string>
		<key>shortcut</key>
		<string>\delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε</string>
		<key>shortcut</key>
		<string>\eps</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>\gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̂</string>
		<key>shortcut</key>
		<string>\hat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>\in</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∫</string>
		<key>shortcut</key>
		<string>\int</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∇</string>
		<key>shortcut</key>
		<string>\nabla</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>\neq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ɸ</string>
		<key>shortcut</key>
		<string>\phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℝ</string>
		<key>shortcut</key>
		<string>\R</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ρ</string>
		<key>shortcut</key>
		<string>\rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>√</string>
		<key>shortcut</key>
		<string>\sqrt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑</string>
		<key>shortcut</key>
		<string>\sum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>\times</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℤ</string>
		<key>shortcut</key>
		<string>\Z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁻¹</string>
		<key>shortcut</key>
		<string>^-1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁰</string>
		<key>shortcut</key>
		<string>^0</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¹</string>
		<key>shortcut</key>
		<string>^1</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>²</string>
		<key>shortcut</key>
		<string>^2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>³</string>
		<key>shortcut</key>
		<string>^3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁴</string>
		<key>shortcut</key>
		<string>^4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁵</string>
		<key>shortcut</key>
		<string>^5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁶</string>
		<key>shortcut</key>
		<string>^6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁷</string>
		<key>shortcut</key>
		<string>^7</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁸</string>
		<key>shortcut</key>
		<string>^8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⁹</string>
		<key>shortcut</key>
		<string>^9</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ⁱ</string>
		<key>shortcut</key>
		<string>^i</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᵀ</string>
		<key>shortcut</key>
		<string>^T</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>±</string>
		<key>shortcut</key>
		<string>+-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>&lt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>&lt;=&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>=&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>&gt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>½</string>
		<key>shortcut</key>
		<string>1/2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅓</string>
		<key>shortcut</key>
		<string>1/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¼</string>
		<key>shortcut</key>
		<string>1/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅕</string>
		<key>shortcut</key>
		<string>1/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅙</string>
		<key>shortcut</key>
		<string>1/6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅛</string>
		<key>shortcut</key>
		<string>1/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅔</string>
		<key>shortcut</key>
		<string>2/3</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅖</string>
		<key>shortcut</key>
		<string>2/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>¾</string>
		<key>shortcut</key>
		<string>3/4</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅗</string>
		<key>shortcut</key>
		<string>3/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅜</string>
		<key>shortcut</key>
		<string>3/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅘</string>
		<key>shortcut</key>
		<string>4/5</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅚</string>
		<key>shortcut</key>
		<string>5/6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅝</string>
		<key>shortcut</key>
		<string>5/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⅞</string>
		<key>shortcut</key>
		<string>7/8</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>❤️</string>
		<key>shortcut</key>
		<string>heart</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>I❤️LA</string>
		<key>shortcut</key>
		<string>iheartla</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>I❤️LA</string>
		<key>shortcut</key>
		<string>IHLA</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝜋</string>
		<key>shortcut</key>
		<string>pi</string>
	</dict>
</array>
</plist>
